*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.para-3{
  color: blue;
}
.home{
  background-image: url('../images/simon-spring.jpg');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}
#heading{
  text-align: center;
  color: white;
  padding: 20px 0 20px 0;
  font-style: italic;
  font-size: 32px;
}
.home p{
  text-align: justify;
  color: white;
  background-color: rgba(119, 136, 153, 0.315);
  padding: 20px;
  margin: 15px 30px;
}
.box{
  padding: 15px;
  border-left: 10px solid tomato;
  margin: 20px 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px lightgrey;
}

.box-1{
  background-color: lightcyan;
}
.box-2{
  background-color: lightyellow;
  display: none;
}
.box-3{
  background-color: lightpink;
}
.box-4{
  background-color: lightgreen;
  visibility: hidden;
  
}
.box-5{
  background-color: lightgoldenrodyellow;
}
.box-6{
  background-color: #17949087;
}
.box-7{
  background-color: lightsalmon;
}
.dollar{
  border: 2px solid red;
  display: inline-block;
  width: 90px;
  padding: 10px 20px;
  
}